/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.main-container {
  display: flex;
}
.calculate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.heading {
  font-family: 'Roboto';
  font-size: 35px;
  color: #ffffff;
  font-weight: 500;
}
.para {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
}
.inpute {
  height: 30px;
  background-color: transparent;
  border-width: 1px;
  border-color: #ffffff;
}
.letters-count {
  align-self: center;
  color: #219a6f;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 32px;
  padding: 18px;
  padding-right: 24px;
  padding-left: 24px;
}
